.DS_Store
.project
.svn
vendor
private
composer.lock
Gemfile.lock
node_modules
protected/.sass-cache
dev.mdular.com.php
mdular.dev.php
protected/runtime/*
public/assets/*
public/demos
public/img/upload/*
public/js/tinymce
