.DS_Store
.project
.svn
.idea
vendor
private
composer.lock
Gemfile.lock
protected/.sass-cache
public/demos
public/js/tinymce
protected/data/schema.sqlite.sql
protected/views/site/pages/test.php
public/img/info.png
public/img/info2.png
public/img/placekitten-150.jpg
public/js/lib/zepto.1.1.2.js
