.alpha80 {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.9);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A0FFFFFF, endColorstr=#A0FFFFFF);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A0FFFFFF, endColorstr=#A0FFFFFF)";
}

.entry .title,
#main > h1 {
	font-size: 1.8em;
	line-height: 1.2em;
	margin-top: 1em;
	//margin-bottom:6px;
	margin-bottom: .6em;
}

/* main */
.breadcrumbs {
  position:absolute;
  top:5px;
}
article.entry {
  word-wrap: break-word;

  & p:first-of-type {
    margin-top: .5em;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

article.comment {
  //@include padding-left(.5em);
  border-bottom: $border-style1;
}