/**
 * spritemap mixin with 2x retina/HiDPI support
 * @author Markus J Doetsch mdular.com
 */

@import "compass/utilities/sprites/base";


@mixin spritemap($name: 'icon', $name2x: 'icon2x', $class-name: 'icon') {
  // custom automatic export of all sprites
  $map: sprite-map("#{$name}/*.png", $spacing: 10px, $dimensions: true);

  // base class
  .#{$class-name}-sprite {
    background: $map no-repeat;
  }

  // export all sprite-classes
  @each $sprite in sprite-names($map) {
    .#{$class-name}-#{$sprite} {
      @extend .#{$class-name}-sprite;
      @include sprite-dimensions($map, $sprite);
      @include sprite-background-position($map, $sprite);

      @if sprite_has_selector($map, $sprite, hover) {
        &:hover {
          @include sprite-background-position($map, #{$sprite}_hover);
        }
      }
    }
  }

  // custom automatic export for 2x sprites
  @if $name2x {
    $map2x: sprite-map("#{$name2x}/*.png", $spacing: 10px, $dimensions: true);

    // auto-switches all sprites to 2x variants with background-scaling on HiDPI devices
    @media (min-resolution: 1.5dppx), (min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5),
           (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5) {

      // base 2x class
      .#{$class-name}2x-sprite {
        background: $map2x no-repeat;
        @include background-size(ceil(image-width(sprite-path($map2x)) / 2) auto);
      }

      // export all 2x sprite-classes
      @each $sprite in sprite-names($map) {
        .#{$class-name}2x-#{$sprite} {
          @extend .#{$class-name}2x-sprite;
          @include sprite-background-position($map2x, $sprite);

          @if sprite_has_selector($map, $sprite, hover) {
            &:hover {
              @include sprite-background-position($map, #{$sprite}_hover);
            }
          }
        }
      }
    }
  }
}
